<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SourceConnection" value="demosource.redis.cache.windows.net:6380,password=D051PdoD3OnQ3CIqbHglmm0Tki1CaleKu2LA1ZhZXjc=,ssl=True,abortConnect=False"/>
    <add key="DestinationConnection" value="destinationdemo.redis.cache.windows.net:6380,password=etlfXbgzpc8ImgLxI+DhEIUYERAElAE+ukqt0gHON5Y=,ssl=True,abortConnect=False"/>
  </appSettings>
</configuration>